@charset "ISO-8859-1";
#profileList {
  max-width: 75%;
  padding: 30px;
  margin: 0 auto;
  border-radius 10px;
  border: 1px solid dimgrey;
}
#profile {
	width: 80%;
	height: 80px;
	margin-top: 40px;
}

.newProfiles {
	margin: 0 auto;
	margin-top: 40px;
}